@import "./variabless";

@mixin container () {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin imgInCenter($bgSize, $bgPosition, $bgRepeat) {
  background-size: $bgSize;
  background-position: $bgPosition;
  background-repeat: $bgRepeat;
}

@mixin blockForm() {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  background: rgba(10, 10, 10, 0.4);
  margin-bottom: 25px;
}

@mixin lineBefore($content, $width, $height, $bg, $position, $bottom, $left) {
  content: $content;
  width: $width;
  height: $height;
  background: $bg;
  position: $position;
  bottom: $bottom;
  left: $left;
}

@mixin lineAfter($content, $width, $height, $bg, $position, $bottom, $left) {
  content: $content;
  width: $width;
  height: $height;
  background: $bg;
  position: $position;
  bottom: $bottom;
  left: $left;
}