$titleColor: #eee;
$subTitle: #ccc;
$textColor: #a3a3a3;
$textSecondaryColor: #fff;
$primaryColor: rgba(99, 99, 99, 0.5);
$secondaryColor: #C49B66;
$linkColor: #C49B66;
$bgFirstColor: #131414;
$bgSecondColor: #181818;
$bgThirdColor: #fbffc2;

$TitleFontFamily: "Josefin Sans", sans-serif;
$TextFontFamily: "Open Sans", sans-serif;
