//@import "../../common/style/sass/variabless";
//@import "../../common/style/sass/mixins";

.footerBlock {
    padding: 50px;
    /*background: #76ffa4;*/
    background: #131414;
    .footerContainer {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .title {
            background: #fbffc2;
        }
    }
}

.icons {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 50px;
    height: 50px;
    background: #fbffc2;
}

.copyright {
    background: #fbffc2;
}

@media screen and (max-width: 477px) {
    .footerContainer, .icons {
        width: 100%;
    }
    .icons {
        justify-content: space-around;
    }
}