@import "../common/style/sass/variabless";
@import "../common/style/sass/mixins";

.headerBlock {
    height: 80px;
    background: $bgFirstColor;
    //background: $bgSecondColor;
    //background: red;
    position: fixed;
    //top: 0;
    //left: 0;
    //width: 100%;
    z-index: 20;

    .headerContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //width: 100%;
        //position: fixed;


    }
    @media screen and (max-width: 752px) {
        height: 110px;
        width: 100%;
    }
}

