@import "../common/style/sass/variabless";
@import "../common/style/sass/mixins";

.contactsBlock {
    //min-height: 100vh;
    padding: 60px 0;
    /*background: #c5caff;*/
    background: $bgFirstColor;
    display: flex;
    align-items: center;
    .contactsContainer {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
        .form {
            //background: #ffe5f7;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 96%;

            .input {
                width: 48%;
                @include blockForm();
                @include text($TextFontFamily, 1rem, 1.3);

                @media screen and (max-width: 752px) {
                    width: 100%;
                }
            }

            .textarea {
                @include blockForm();
                @include text($TextFontFamily, 1rem, 1.3);
                resize: none;
                overflow: hidden;
                width: 100%;
                height: 160px;
            }
        }

        .button {
            border: none;
            outline: none;
            @include text($TextFontFamily, 12, 40px);
            width: 160px;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-weight: 700;
            height: 40px;
            background: #C49B66;
            color: #fff;
        }
    }
    @media screen and (max-width: 477px) {
        padding: 70px 0;
    }
}

