@import "../../style/sass/variabless";
@import "../../style/sass/mixins";


.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  .icon {
    display: flex;
    align-items: center;
    //width: 22%;
    justify-content: space-around;
    color: $secondaryColor;

    .contact {
      margin-left: 20px;
      padding-left: 15px;
      border-left: 1px solid rgba(200, 200, 200, 0.4);
      h6 {
        @include text($TitleFontFamily, 16px, 1.2);
        font-weight: 600;
        color: $textSecondaryColor;
        margin: 0;
      }
      p {
        @include text($TextFontFamily, 15px, 1.6);
        word-spacing: 1px;
        font-weight: 400;
        letter-spacing: 1.2px;
        color: $textColor;
        margin: 0;
      }
    }
    @media screen and (max-width: 477px) {
      width: 65%;
    }
  }

  @media screen and (max-width: 477px) {
    flex-direction: column;
    height: 190px;
  }
}




