@import "../../style/sass/variabless";
@import "../../style/sass/mixins";


.icons {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .icon {
    display: flex;
    align-items: center;
    width: 22%;
    justify-content: space-around;
    color: $secondaryColor;

    .contact {
      margin-left: 20px;
      padding-left: 15px;
      border-left: 1px solid rgba(200, 200, 200, 0.4);
      h6 {
        @include text($TitleFontFamily, 16px, 1.2);
        //letter-spacing: 1.2px;
        font-weight: 600;
        color: $textSecondaryColor;
        margin: 0;
      }
      p {
        @include text($TextFontFamily, 15px, 1.6);
        word-spacing: 1px;
        font-weight: 400;
        letter-spacing: 1.2px;
        word-spacing: 1px;
        color: $textColor;
        margin: 0;
      }
    }
  }

  //@media screen and (max-width: 477px) {
  //  justify-content: space-around;
  //  width: 100%;
  //}
}




