@import "../../common/style/sass/variabless";
@import "../../common/style/sass/mixins";

.skill {
    width: 250px;
    /*background: #c5caff;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 15px;
    //&:nth-child(2) {
    //    border-left: 1px solid #222;
    //    border-right: 1px solid #222;
    //}

    .icon {
        width: 60px;
        height: 60px;
        background: $bgThirdColor;
        margin-bottom: 30px;
    }

    h3 {
        @include text($TitleFontFamily, 22px, 1.2);
        font-weight: 600;
        color: $titleColor;
        margin: 0 0 15px;
    }

    .description {
        @include text($TextFontFamily, 15px, 1.6);
        color: $textColor;
        word-spacing: 1px;
        margin: 0;
        font-weight: 400;
    }
}