@import "../common/style/sass/variabless";
@import "../common/style/sass/mixins";

.mainBlock {
    /*min-height: 100vh;*/
    padding: 100px 0;
    /*background: #c5caff;*/
    background: $bgFirstColor;
    display: flex;
    align-items: center;

    .mainContainer {
        border: 1px solid;
        display: flex;
        align-items: center;
        /*justify-content: space-between;*/
        justify-content: center;
        flex-wrap: wrap;

        .text {
            width: 50%;

            h1 {
                @include text($TitleFontFamily, 36px, 1.2);
                font-weight: 600;
                color: $titleColor;
                position: relative;
                padding-bottom: 10px;
                margin: 0 0 45px;

                &:before {
                    @include lineBefore("", 100%, 1px, $primaryColor, absolute, 0, 0)};

                &:after {
                    @include lineAfter("", 60px, 1px, $secondaryColor, absolute, 0, 0)};
            }
            p {
                @include text($TitleFontFamily, 22px, 1.2);
                font-weight: 600;
                color: $titleColor;
            }
        }

        .photo {
            width: 300px;
            height: 400px;
            background: $bgThirdColor;
        }

        @media screen and (min-width: 752px) {
            /*justify-content: center;*/
            justify-content: space-between;
        }
    }
}
