@import "../common/style/sass/variabless";
@import "../common/style/sass/mixins";

.footerBlock {
  padding: 20px 50px;
  background: #131414;

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 477px) {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: none;
      width: 80%;
      height: 230px;
      margin-bottom: 20px;
    }
  }

  .copyright {
    @include text($TextFontFamily, 13px, 1.6);
    font-weight: 400;
    word-spacing: 1px;
    color: $textColor;
    text-align: center;
  }
  @media screen and (max-width: 477px) {
    padding: 25px;
  }
}